.btn {
  font-family: 'Inter', sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
  background: #242edb;
  color: #ebf3ea;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }

  .icon {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  .label {
    white-space: nowrap;
  }

  &.block {
    display: flex;
    width: 100%;
  }

  &.big {
    gap: 8px;
    border-radius: 12px;
    border: 1px solid #367aff;
    background:
      linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.12) 100%), #242edb;
    box-shadow:
      0 8px 8px 0 rgba(54, 122, 255, 0.03),
      inset 0 -2px 0 1px rgba(0, 0, 0, 0.08);
    padding: 16px 8px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.18px;
    overflow: hidden;
  }
}
