.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 16px;
}

.label {
  color: var(--color-text-primary);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-medium);

  &.big {
    font-size: var(--font-size-18);
  }
}
